*
!src
!src/**/*

!example/
!example/**/*
!example-extension/
!example-extension/**/*
example/logs

!docs
!docs/**/*

!test
!test/**/*

!locale
!locale/**/*

!LICENCE
!.npmignore
!.gitignore
!package.json
!package-lock.json
!README.md
!tsconfig.json
